/*! Paramètres généraux */
/* Ne laisser le dégradé qu'en fin de page */
body{
    background-repeat: no-repeat;
}
/* Modifier la scrollbar générale */
body::-webkit-scrollbar {
    background-color: #28104c;
    width: 24px;
}
body::-webkit-scrollbar-track {
    background: #28104c;
}
body::-webkit-scrollbar-thumb {
    background-color: #3d246b;
    border-radius: 8px;
    border: 5px solid #28104c;
}
/* Police d'écriture du titre général */
h1{
    font-family: 'Montserrat', sans-serif;
}
/* Longueur du hr */
hr{
    width: 530px;
}


/*! Style des cartes */
/* Contour des cartes */
.card{
    background-color: #120626;
    border: 1px solid rgba(111,66,193,0.8);
    box-shadow: 0 0 2px rgba(111,66,193,.9), 0 0 2px rgba(111,66,193,.4), 0 0 0.3rem rgba(111,66,193,.3), 0 0 0.4rem rgba(111,66,193,.1);
}
/* Adapter les images pour qu'elles aient la même taille */
.img-fluid{
    height: 100%;
}
/* Placer équitablement les éléments à droite de l'image */
#place-elements{
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}
/* Styliser les résumés des films */
.card-text-overview{
    overflow: auto;
    height: 174px !important;
    /*? text-align: justify; */
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding-right: 7px;
}
/* Style des scrollbars dans les résumés */
.card-text-overview::-webkit-scrollbar {
    width: 12px;
}
.card-text-overview::-webkit-scrollbar {
    background-color: #28104c;
    border-radius: 5px;
    top: 20px !important;
}
.card-text-overview::-webkit-scrollbar-track {
    background: #28104c;
    border-radius: 5px;
}
.card-text-overview::-webkit-scrollbar-thumb {
    background-color: #6f42c1;
    border-radius: 20px;
    border: 4px solid #28104c;
}
/* Titre des films */
.card-title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 29px;
}
/* surbrillance des étoiles */
.fa-star, .card-text-average{
    text-shadow: 0 0 1px rgba(255,255,255,.6), 0 0 3px rgba(255,255,255,.5), 0 0 0.5rem rgba(255,255,255,.3), 0 0 2rem rgba(255,255,255,.2);
}



